LOGIN=postgres
PASSWORD=root
#DSN=pgsql:dbname=fias;host=localhost
#SCHEMA=gar
DSN=pgsql:dbname=temp;host=localhost
SCHEMA=temp
#DO_IMPORT_WITH_CHECK=FALSE
DO_IMPORT_WITH_CHECK=TRUE
BATCH_SIZE=100000
#XML_FILES_PATH=D:\WORK\fias-gar\gar_xml
XML_FILES_PATH=D:\WORK\fias-gar\gar_delta_xml